NEXT_PUBLIC_STELLAR_NETWORK=TESTNET
NEXT_PUBLIC_TRUSTFLOW_CONTRACT_ID=
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
TRUSTFLOW_API_URL=http://localhost:3001
